@media screen and (max-width:499px) and (min-width:320px ) and (min-height:480px){


		main{
	
			margin:0 auto;
		
			width:320px;
			 box-sizing: border-box;
			height:230em;
			 display:relative;
			 
		}
		
		header{
			height:10vh;
		
		
			
			background-color:#ff0026;
	
		
			box-sizing: border-box;
		display:relative;
			
		}
		
		#header{
			width:320px;
			height:10vh;
			margin:auto;
			padding:auto;
			position:relative;
			background-color:#c50000;
			display:block;
			background:url(formatos/logo-movil.png) no-repeat bottom right;
			
			 
		}
		h1{
			display:none;
		}
		#header > h1 > a{
			display:none;	
		}
		
		
		nav{
			
		position:absolute;
		top:0;
		left:0;
		height:4em;
		width:2.5em;
		
	}
	
	#menu li{ 
		text-indent:-100px;
		overflow:hidden; 
		margin-top:2vh;
		
	}
	
	#menu li a{
		background:url(formatos/menu.png) no-repeat center center;
		background-size:cover;
		display:block; 
		height:2.5em;
		
	}
	

	#menu li:last-child { display:none; }
	
	#botones{
		width:70vw;
		height:calc(90vh - 4em);
		position:absolute;
		top:10vh;
		left:-100vw;
		background:#c50000;
		transition:left .5s ease;
		z-index:11;
		box-sizing: border-box;

	}
	
	
	#botones li{
		list-style:none;
		margin:0.5em;
		width:calc(50% - 1em);
		height:calc(50% - 1em);
		box-sizing: border-box;
	
	}
	#botones li:nth-child(1){
		
		float:right;
	}
	#botones li:nth-child(3){
		float:right;
		margin:-0.07em 0.45em 0 0;
	}
	#botones li a{
		width:calc(100% - 1em);
		height:calc(100% - 1em);
		font-size:1.9em;
		text-decoration:none;
		display:block;
		background:#fff;
		color:black;
		text-align:center;
		line-height:5em;
		padding:0.5em;
		
	}
	
	nav:target #botones{ left:0; 
	display:block;
	transition:left .5s ease;}
	
	
	nav:target #menu li:first-child{ display:none; }
	nav:target #menu li:last-child{ display:block; }
		
		
		
		section:nth-child(1) {
	
				height:100px;
				display:block;
				
			margin:1em auto 0px auto;
			 box-sizing: border-box;
			 position:relative;
			 
		}
	
		
		
		section:nth-child(1) img{
	
			opacity: 1;
			 
			 
			position: absolute;

			top: 0;
			left: 0;
			right:0;
	
			-moz-animation: rotacion_banners 12s infinite 0s ease-in-out;
			-webkit-animation: rotacion_banners 12s infinite 0s ease-in-out;
			animation: rotacion_banners 12s infinite 0s ease-in-out;
	
		}
		
		#uno{   -moz-animation-delay: 8s; -webkit-animation-delay:8s; animation-delay:8s; }
		#dos{ -moz-animation-delay: 6s; -webkit-animation-delay:6s; animation-delay:6s; }
		#tres{ -moz-animation-delay: 4s; -webkit-animation-delay:4s; animation-delay:4s; }
		#cuatro{ -moz-animation-delay: 2s; -webkit-animation-delay:2s; animation-delay:2s;}
		#cinco{ -moz-animation-delay: 0s; -webkit-animation-delay:0s; animation-delay:0s; }
		
		
		#pastilla{
			width:320px;
			display:block;
			margin:0 auto;
			position:relative;
		
		
		}

		.contenedor{
					position:relative;
					overflow:hidden;
					
				}
				.boton {
					margin:auto;
					width:90%;
				   border: 3px solid #fff;
				   overflow: hidden;
				}
				.pastilla{
					width:100%;
				}
				.boton p{

				   padding:0.3em 0.01em;
				   overflow: hidden;
				   color:#ffffff;
				   top: 0;
				   left: 0;
				   background-color: #ca005d;
				  
				   text-align: center;
				
				}
				.boton img {
					
				   display: block;
				   position: relative;
	
					
	
				}
		
		#formulario{
			
			border:0.1em solid #ffffff;
			color:#ffffff;
			 font-family: 'MasonAlter_Bold';
			width:320px;
			margin:1em auto;
			position:relative;

			
		}
		
		
		form{
			
			margin:auto;
			padding:1em;
			width:calc(100% - 40px);
			display:block;
			align-items:center;
		}
		label{
			width:calc(100% - 20px);
			display:block;
			font-size:1.5em;
			
		}
		input{
			display:block;
			
			
		}
		textarea{
			width:60%;
			height:5em;
			display:block;
			resize: none;
			
		}
		
		
		
		#parrafo{
			width:300px;
			
			height:850px;
			left:0;
			color:#ffffff;
			position:relative;
			
		}
		#parrafo p{
				font-size:1.5em;
				margin:20px 30px;
		
		}
			#footer{
			width:320px;
			height:200px;
			margin:auto;
		}
			
		#footer p{
			font-size:1.2em;
			margin:0 auto;
			padding:0.5em 1.5em;
			text-align:center;
			
		}
		#links{
			margin:1.3em 0 0 1em;
		}
		#links li {
			width:50%;
			height:50%;
			margin-bottom:0.9em;
			font-size:1.5em;
			border-bottom:2px solid #760000;
		}
		#links li:nth-child(1){
			float:right;
		}
		#links li:nth-child(3){
			float:right;
		}
		#links li a{
			width:50%;
			height:50%;
			display:block;
			width:100%;
			height:100%;
			
		}
		}