@font-face {
    font-family: 'MasonAlter_Bold';
    
    src: 
      
         url('font/mason-alternate/MasonAlternate_Bold.ttf') format('truetype');
      
    font-weight: normal;
    font-style: normal;

}